@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#593719";
  --color-secondary: "#f6d860";
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --adm-safe-area-inset-top: env(safe-area-inset-top);
  --adm-safe-area-inset-bottom: env(safe-area-inset-bottom);
}

:root:root {
  --adm-color-primary:#b45309;
}

.adm-toast-mask .adm-toast-main-icon .adm-toast-icon {
  display:flex;
  justify-content: center;
}

*.hover {
  scrollbar-color: color-mix(in oklch,currentColor 60%,transparent) transparent;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
